*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
*::-webkit-scrollbar
{
    display: none;
}
/*squib.html styles*/
.element-selector {
    background: linear-gradient(to right, #de6161, #2657eb);
}