* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #222222;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #008b8b98;
    backdrop-filter: blur(15px);
    width: 100%;
    height: 20vh;
}

.header a {
    text-decoration: none;
    font-size: 60px;
    font-weight: 400;
    text-transform: lowercase;
    font-family: 'Alata', sans-serif;
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.header a:hover {
    transform: scaleX(1.1788);
}

.header a span {
    background: linear-gradient(to right, #fdfc47, #24fe41);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.titletext {
    font-family: 'Alata', sans-serif;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cloakassets.quartinal.com/svg/meatswitch.icon.64ae2f43.svg");
    background-position: center;
    width: 100%;
    height: 25%;
}

br {
    display: block;
    margin: 40px 0;
}

h1.titletexthome {
    text-align: center;
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    font-family: 'Alata', sans-serif;
    width: 100%;
}
